<p>
  <strong>Title:</strong>
  <%=  link_to @list.name, edit_list_path(@list)  %>
</p>

<p>
  <strong>Description:</strong>
  <%= link_to @list.description , edit_list_path(@list)%>
</p>

<p>
  <strong>Purchased:</strong>
  <%= link_to @list.state , edit_list_path(@list)%>
</p>

<p>
  <strong>Price:</strong>
  <%=  link_to @list.price, edit_list_path(@list)%>
</p>

<p>
  <strong>Items:</strong>
  <% @list.items.each do |item| %>
      <%= item.name %>
  <% end %>
</p>

<%= link_to 'Back', lists_path %>
