<h1><%= link_to "Purchases", group_purchases_path(@group) %></h1>
<table>
  <thead>
    <tr>
      <th>Made By:</th>
      <th>Cost:</th>
      <th>Made on:</th>
      <th>View Purchase</th>
    </tr>
  </thead>
  <tbody>
    <% @group.ordered_recent_purchases.each do |purchase| %>
      <tr>
        <td><%= "#{purchase.user.first_name} #{purchase.user.last_name}"%></td>
        <td><%= purchase.cost %></td>
        <td><%= purchase.formatted_date %></td>
        <td><%= link_to "View", group_purchase_path(@group, purchase)%></td>

      </tr>
    <% end %>
  </tbody>
</table>