<h1>Your Groups</h1>
<table>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td>
          <a href="#" data-reveal-id="myModal">Members</a>
          <div id="myModal" class="reveal-modal" data-reveal>
            <h2>Members for <%=group.name%></h2>
            <table>
              <tbody>
                <% group.users.each do |member| %>
                <tr>
                  <td><%= member.name %></td>
                  <td><%= member.email %></td>
                </tr>
                <% end %>
              </tbody>
            </table>

            <p>Add someone to <%=@group.name%></p>
            <%= simple_form_for [@group, @group_user], controller: :group_user, action: :create do |f|%>
              <%= f.input :email_address %>
              <%= f.button :submit, "Add Member", class: "tiny" %>
            <%end%>

            <a class="close-reveal-modal">&#215;</a>
          </div>
        </td>
        <td><%= link_to 'Edit Group', edit_group_path(@group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New group', new_group_path, class: "button tiny" %>


