<h1>Editing <%=@group.name%></h1>

<%= render 'form' %>

<ul>
  <%@group.unpurchased_items.each do |item| %>
  <li><%="#{item.name} "%> <%=link_to "<i class='fi-x-circle large'></i>".html_safe, group_item_path(@group, item), method: :delete%></li>
  <%end%>
</ul>


<%= link_to 'Destroy Group', group_path(@group), method: :delete, data: { confirm: 'This group will no longer belong to other users. Are you sure you want to delete this group?' } %>

<br><br>

<%= link_to 'Back', group_path(@group) %>
