
<%content_for :left_side_bar do %>

  <div id="purchases">
    <%= render 'group_purchases' %>
  </div>

<% end %>

<%content_for :main_title do %>
  <div class="medium-12 columns group-name">
    <h1><strong><%=@group.name%></strong></h1>
  </div>
<%end%>


<div class="main-wrapper">

  <div class="items-form">
    <%= render 'items/form', group: @group %>
  </div>

  <ul class= "items-list">
    <% @group.unpurchased_items.each do |item| %>
      <li></i><span class="item"><%= item.name %></span><%=link_to "<i class='fi-x-circle large'></i>".html_safe, group_item_path(@group, item), method: :delete%></li>
    <% end %>
  </ul>


    <%= link_to 'Make a Purchase', new_group_purchase_path(@group), class: "button purchase-button" %>

</div>


<%content_for :right_side_bar do%>
  <div id="your-groups">
    <%= render 'members' %>
  </div>

  <br>



<% end %>