<% content_for :left_side_bar do%>
<h1>Group: <%=@group.name%></h1>

<table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New group', new_group_path %>
<% end%>


  <h1><strong><%=@group.name%></strong></h1>

  <p>
    <%= link_to 'Edit Group', edit_group_path(@group) %>
  </p>

  <% @group.unpurchased_items.each do |item| %>
    <%= item.name %><br/> <br/>
  <% end %>

  <br/>
  <%= render 'items/form', group: @group %>


  <%= link_to 'Make a Purchase', new_group_purchase_path(@group) %>


<%content_for :right_side_bar do%>
    <h1><%= link_to "Purchases", group_purchases_path(@group) %></h1>

    <table>
      <thead>
        <tr>
          <th>Made By:</th>
          <th>Cost:</th>
          <th>Made on:</th>
          <th>View Purchase</th>
        </tr>
      </thead>

      <tbody>
        <% @group.ordered_recent_purchases.each do |purchase| %>
          <tr>
            <td><%= "#{purchase.user.first_name} #{purchase.user.last_name}"%></td>
            <td><%= purchase.cost %></td>
            <td><%= purchase.formatted_date %></td>
            <td><%= link_to "View", group_purchase_path(@group, purchase)%></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% end %>