<div class="main-wrapper">
  <div class="medium-11 columns">
    <h1><strong><%=@group.name%></strong></h1>

    <% @group.unpurchased_items.each do |item| %>
      <%= item.name %><br/> <br/>
    <% end %>

    <br/>
    <%= render 'items/form', group: @group %>
  </div>

  <div class="medium-1 columns" id="make-a-purchase">
    <%= link_to 'Make a Purchase', new_group_purchase_path(@group), class: "button" %>
  </div>

</div>


<%content_for :right_side_bar do%>
  <div id="your-groups">
    <%= render 'your_groups' %>
  </div>

  <div id="purchases">
    <%= render 'group_purchases' %>
  </div>

  <br>

<% end %>