
<h1><strong><%=@group.name%></strong></h1>

<p>

</p>

<% @group.unpurchased_items.each do |item| %>
  <%= item.name %><br/> <br/>
<% end %>

<br/>
<%= render 'items/form', group: @group %>


<%= link_to 'Make a Purchase', new_group_purchase_path(@group) %>
<br>



<%content_for :right_side_bar do%>

<div id="your-groups">
  <%= render 'your_groups' %>
</div>

<p>Add someone to <%=@group.name%></p>
<%= simple_form_for [@group, @group_user], controller: :group_user, action: :create do |f|%>
  <%= f.input :email_address %>
  <%= f.button :submit, "Add Member", class: "tiny" %>
<%end%>

<div id="purchases">
  <%= render 'group_purchases' %>
</div>

<br>

<% end %>