<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
  <%= link_to 'Edit Group', edit_group_path(@group) %>
</p>

<% @group.items.each do |item| %>
  <%= item.name %><br/> <br/>
<% end %>

<br/>
<%= render 'items/form', group: @group %>


<%= link_to 'Make a Purchase' %>
<br>
<br>
<%= link_to 'Take me back to my groups, please!', groups_path %>
