<div class="row">
  <div class="small-12 small-pull-12 medium-3 large-3 columns" id="left-content">

    <div id="your-groups" class="hide-mobile">
      <%= render 'your_groups' %>
    </div>

    <div id="members">
      <%= render 'members' %>
    </div>

    <br>

  </div>




  <%content_for :main_title do %>
    <div class="medium-12 columns group-name">
      <h1 class="cover-logo"><%=@group.name%></h1>
    </div>
  <%end%>

  <div class="small-12 small-push-12 medium-6 large-6 columns" id="main-content">

    <div class="items-form">
      <%= render 'items/form', group: @group %>
    </div>

    <table class="items-table">
      <% @group.unpurchased_items.each do |item| %>
       <tr>
        <td>
          </i><span class="item"><%= item.name %></span><%=link_to "<i class='fi-x-circle large'></i>".html_safe, group_item_path(@group, item), method: :delete%>
        </td>
        </tr>
      <% end %>
    </table>

      <%= link_to 'Make a Purchase', new_group_purchase_path(@group), class: "button purchase-button" %>

  </div>


  <div class="small-12 medium-3 large-3 columns" id="right-content">
    <div id="purchases">
      <%= render 'group_purchases' %>
    </div>
  </div>
</div>

