<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Grab The List</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

  <% flash.each do |name, msg| -%>
    <div data-alert class="alert-box radius <%name == :notice ? "success" : "alert" %>">
      <%= content_tag :div, msg, class: name %>
      <a href="#" class="close">&times;</a>
    </div>

  <% end -%>

    <div class="row">
      <div class="small-12 columns small-centered">
        <%= yield :main_title%>
      </div>
    </div>

      <%= yield %>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      $(document).ready(function() {
        // $(".cover").backstretch("<%=image_path('cover.jpg')%>")
     $.backstretch("<%=image_path('cover2.JPG')%>")
        });
    </script>
  </body>
</html>