<!DOCTYPE html>
<html>
<head>
  <title>Grab The List</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Grab The List", root_path%></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if user_signed_in? -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign In', new_user_session_path%></li>
          <li><%= link_to 'Sign Up', new_user_registration_path%></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div class="row">
      <div class="medium-3 columns">
        <%= yield :left_side_bar%>
      </div>
      <div class="medium-6 columns"><%= yield %></div>
      <div class="medium-3 columns">
        <%= yield :right_side_bar%>
      </div>
    </div>

  <%= javascript_include_tag "application"%>
</body>
</html>



