<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Grab The List</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

  <% flash.each do |name, msg| -%>
    <div data-alert class="alert-box <%name == :notice ? "success" : "alert" %>">
      <%= content_tag :div, msg, class: name %>
    </div>
  <% end -%>

    <div class="row">
      <div class="medium-12 columns centered">
        <%= yield :main_title%>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns" id="left-content"><%= yield :left_side_bar %></div>
      <div class="medium-6 columns center" id="main-content"><%= yield %></div>
      <div class="medium-3 columns" id="right-content">
        <%= yield :right_side_bar%>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>